<div class="container">
	<div class="col-md-6 col-md-offset-3 text-center">
		<div class="page-header">
			<h1>Hello!</h1>
		</div>
	</div>
	<div class="col-md-6 col-md-offset-3">
		<p>This is Finnian's testbed for Ruby on Rails applications</p>
		<h3>Projects</h3>
		<ul>
			<li><a href="message">Message templater</a></li>
		</ul>
	</div>
</div>